*{
    margin: 0;
    padding: 0;
    font-family: 'AbeeZee', sans-serif;
    transition: all 300ms ease;
}
body{
    font-family: 'AbeeZee', sans-serif;
}

/*Diseño Header*/

header{
    background-color: #021e26;
    color: white;
    width: 100%;
    padding-top: 30px;
}

.header-center{
    display: block;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #0c7b93;
    width: 100%;
    padding: 3px 0px 3px 0px;
    height: 100%;
}

nav a{
    text-align: center;
    width: 20%;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
}

nav a:hover{
    background-color: white;
    color: #008080;
    border-radius: 5px;
}


nav a:nth-child(3):hover{
    background-color: #021e26;
   
    color: wheat;
    border-radius: 5px;
}
/*Diseño Header FIN*/

/*diseno card inicio*/

.container{
    width: 250px;
    text-align: center;
}

/*diseno card fin*/




/*Diseño Footer*/

footer{
    background-color:#021e26;
    color: white;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

footer .colunm{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
}


footer .colunm h3{
    
    text-align: center;
    height: 20%;
}

footer .colunm span{
    margin: 2px;
}

/*media query footer*/
@media screen and (max-width: 700px){

    footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }
    footer .colunm{
        width: 50%;
        margin: auto;
        margin-bottom: 15px;
    }

    footer h3{
        margin-bottom: 10px;
    }
    
}
/*Diseño Footer FIN*/

