*{
    margin: 0;
    padding: 0;
    font-family: 'AbeeZee', sans-serif;
    transition: all 300ms ease;
}
body{
    font-family: 'AbeeZee', sans-serif;
}

/*Dise単o Header*/

header{
    background-color: #021e26;
    color: white;
    width: 100%;
    padding-top: 30px;
}

.header-center{
    display: block;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #0c7b93;
    width: 100%;
    padding: 3px 0px 3px 0px;
    height: 100%;
}

nav a{
    text-align: center;
    width: 20%;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
}

nav a:hover{
    background-color: white;
    color: #008080;
    border-radius: 5px;
}


nav a:nth-child(3):hover{
    background-color: #021e26;
   
    color: wheat;
    border-radius: 5px;
}
/*Dise単o Header FIN*/

/*diseno card inicio*/

hr.midle-line{
    margin: 15px 0px 15px 0px;
    border: 1px solid #021e26;
}
.container{
    text-align: center;
    height: 100%;
    width: 100%;
}

.container-card .card-header{
    background-color: #021e26;
    border-radius: 7px 100px;
    height: 70px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.container-card .card-header img{
    padding-top: 10px;
    width: 12%;
}

.container-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

.container-card .card{
    margin: 50px 30px 0px 30px;
    padding: 10px;
    background-color: #0c7b93;
    width: 280px;
    border-radius: 7px 70px 7px 70px ;
    color: white;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.397);
    overflow: hidden;
    padding-bottom: 30px;
}

.container-card .card:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.397);
}



/*diseno card fin*/




/*Dise単o Footer*/

footer{
    margin-top: 100px;
    padding-top: 30px;
    background-color:#021e26;
    color: white;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

footer .colunm{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
}


footer .colunm h3{
    
    text-align: center;
    height: 20%;
}

footer .colunm span{
    margin: 2px;
}

/*media query footer*/
@media screen and (max-width: 700px){

    footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }
    footer .colunm{
        width: 50%;
        margin: auto;
        margin-bottom: 15px;
    }

    footer h3{
        margin-bottom: 10px;
    }
    
}
/*Dise単o Footer FIN*/

