<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de Transacciones Master Page</title>
    <link rel="shortcut icon" href="img/ico.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/master.css">
</head>

<body>
    <header>
        <div class="header-center">
            <img src="img/logo.png" alt="logo banco">
            <h1 class="bank-name">App Banco</h1>
        </div>
        <nav id="navegacion">
            <a href="#">Inicio</a>
            <a href="#nosotros">Nosotros</a>
            <a class="sing-out" href="index.html">Sign out </a>
        </nav>
    </header>

    <div id="app">
        <section class="container">
            <div class="container-card">
                <div class="card" v-for="transaction in transactions">
                    <div class="card-header">
                        <img src="img/user.png" alt="">
                        <p>{{transaction.username}}</p>
                    </div>
                    <hr class="midle-line">
                    <span>Antiguo monto de la Cuenta: <span class="trans-color">{{transaction.lastBalance}}</span> </span>
                    <hr class="midle-line">
                    <p>Transaccion Realizada</p>
                    <br>
                    <p id="transaction-type">Tipo de Trasacion: <br> <span class="trans-color">{{transaction.processType}}</span></p>
                    <br>
                    <p id="masterRetiro" v-if="transaction.processType == 'deposit'">
                        Monto de la Trasacion:
                        <span class="trans-color">{{transaction.newBalance -  transaction.lastBalance}}</span>
                    </p>
                    <p id="masterRetiro" v-else>
                        Monto de la Trasacion:
                        <span class="trans-color">{{transaction.lastBalance -  transaction.newBalance}}</span>
                    </p>
                    <hr class="midle-line">
                    <p>Nuevo Monto de la Cuenta: <span class="trans-color">{{transaction.newBalance}}</span></p>

                </div>
            </div>
        </section>
    </div>

    <footer id="nosotros" class="footer">
        <div class="contacto colunm">
            <h3>Telefono:</h3>
            <span>809-133-1234</span>
        </div>

        <div class="nosotros colunm">
            <h3>Nosotros</h3>
            <p>Somos un grupo de desarrolladores que creamos soluciones digitales a las empresas.</p>
        </div>

        <div class="miembros colunm">
            <h3>Miembros</h3>
            <span>Erber Tejeda - FrontEnd</span>
            <span>Samuel - BackEnd</span>
            <span>Eliu - Proyect Manager</span>
            <span>Josefina Sanchez - Document Design</span>
        </div>
    </footer>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-firestore.js"></script>
    <script src="js/connnectFirebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/admin.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/master.js"></script>
</body>

</html>